* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  body {
    background: #f8fafc;
    font-family: 'Manrope';
  }

  section.footer {
    background: #06305d;
    color: #ffff;
    padding: 50px 0px;
}

  /* ===== HEADER ===== */
  .header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  header.header img {
    width: auto;
    height: 65px;
    object-fit: cover;
}

.header .row {
    align-items: center;
    justify-content: center;
}

nav.nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}


  .nav a {
    color: #083568;
    text-decoration: none;
    /* margin-left: 20px; */
    font-size: 17px;
  }

  .header a.btn {
    display: flex;
    justify-content: end;
    border: 1.5px solid transparent;
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
    border-radius: 5px;
    padding: 10px;
}

.header a.btn {
    display: flex;
    justify-content: end;
    border: 1.5px solid #F19833;
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
    border-radius: 5px;
    padding: 10px 20px;
    background: #F19833;
    color: #fff;
    font-size: 17px;
}

  .nav a:hover {
    color: #f19833;
  }



  .menu-btn {
    font-size: 26px;
    cursor: pointer;
    display: none;
  }

  /* ===== MOBILE MENU ===== */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background: #020617;
    padding: 30px 20px;
    transition: left 0.3s ease;
    z-index: 2000;
  }

  .mobile-menu a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin: 20px 0;
  }

  .mobile-menu a:hover {
    color: #38bdf8;
  }

  .close-btn {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin-bottom: 30px;
  }

  section.footer img
  {
    width: auto;
    height: 65px;
    object-fit: cover;
    filter: brightness(0) invert(1) !important;
    margin-bottom:20px;
  }

  .footer ul li a {
    color: #fff !important;
    text-decoration: none;
}

  section.footer h2 {
    font-size: 22px;
    margin-bottom: 20px;
}


.footer ul {
    margin: 0px;
    padding: 0;
}

.footer ul li {
    list-style: none;
    margin-bottom: 7px;
}

ul.social {
    display: flex;
    gap: 15px;
}



ul.social li {
    background: #f19833;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 58%;
}

  /* ===== RESPONSIVE ===== */
  @media (max-width: 768px) {
    .nav {
      display: none;
    }
    .menu-btn {
      display: block;
    }
  }

  /* Demo content spacing */
  .content {
    padding-top: 100px;
    text-align: center;
  }